.loading-animation {
  animation: wave var(--duration) ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-50%);
    opacity: 0.8;
  }
}
