.unlike svg {
  animation: heartbeat 500ms linear forwards;
}
@keyframes heartbeat {
  0% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
