.picker-no-highlight > div[style*='pointer-events:none'] {
  display: none !important;
}
.picker-no-highlight > div[style*='pointer-events:none'] > div[style*='height:1px'] {
  display: none !important;
}
.picker-no-highlight > div:last-child > div {
  display: none !important;
}
